@media screen and (min-width: 320px ) {
    .container{
      max-width: 428px;
    }
    .our-team-list .team-item {
      margin-bottom: 72px;
      width: 264px;
      margin-left: auto;
      margin-right: auto;
      row-gap: 24px;
      column-gap: 24px;
    }

  }